extends layout

block content
	.container
		.container
			h1 About Us
			p With a comprehensive range of services covering all modes of transportation, we are totally committed to providing quality, flexibility & reliability. Our policy is to listen to you, the customer, and develop our services around your own specific needs, rather than expecting you to adapt to our operating procedures.

			p All of our personnel are fully versed in the technicalities of import and export procedures, and are dedicated to taking away from you the headaches of international distribution, whether this is for on-going contracts, a specific project or one off movements. It is our job to ensure you are continuously given clear, concise and up to date information at all times, whilst ensuring the movement of your goods is expedited in the most professional manner.

			p We are committed to a policy of continual development and improvement, both with the systems we operate and the levels of service we provide to our clientele.

			p We believe that we can offer a unique blend of professionalism and flexibility unsurpassed by our competitors within our industry. 

			p 
				strong We offer the following services :
			
			ul
				li Intracity Courier Services
				li Domestic & 
				li International Couriers
			p We Undertake Pickup & Bulk Delivery of Documents, Booklets, Samples and Parcels such as Printing Materials, Seminar Goods, Machinery parts etc., for More than 2000 cities throughout the world.

			p We are also known for the Companies we keep on our customer base and we are certain that, they will stand by us in testimony of the excellent rapport between us.

