extends layout

block content
	.jumbotron
		.container
			h1 How May I help You?
			p Have a unique shipping need? Require logistics services support? FastEx Logistics International provides delivery specialists that offer a variety of support services for all types of specialized delivery and logistical needs. 
			a.btn.btn-primary.btn-lg(href='contact') Contact Us Today &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p We bring transportation intelligence to business using our system of drivers and partners to provide customized courier solutions, giving you meaningful and measurable advantages.
				a.btn.btn-default(href='about') View Details
			.col-md-4
				h2 Track Package
				p With FLI, you are always guaranteed an efficient and cost effective solution to moving your goods around the country or around the world. No job is ever too near, too far, too big or too small.
				a.btn.btn-default(href='#') Track Shipment
			.col-md-4
				h2 Contact Us
				p We work with small, local companies to Fortune 500 corporations with a national footprint. Our greatest asset is our extensive menu of courier services that allow us to customize our solutions to meet each client’s need.
				a.btn.btn-default(href='contact') View Details

